<table *ngIf="data">
  <thead>
    <tr>
      <th *ngFor="let header of data?.header; let i=index">{{header?.name}}<i class="icon icon-arrow-bottom order-asc"
          [ngClass]="{'icon-active': orderStatus.index==i && orderStatus.type =='DESC'}"
          (click)="order(i, 'DESC')"></i><i class="icon icon-arrow-top order-desc"
          [ngClass]="{'icon-active': orderStatus.index==i && orderStatus.type =='ASC'}" (click)="order(i, 'ASC')"></i>
      </th>
    </tr>
    <tr>
      <td *ngFor="let header of data?.header; let i=index">
        <input *ngIf="header?.filter" type="text" [(ngModel)]="filterTable[i]" (input)="filter()" />
      </td>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of data?.items | slice: (pagination.current-1)*pagination.elementsPerPage : pagination.current*pagination.elementsPerPage; let i = index">
      <ng-container>
        <ng-container *ngFor="let cel of item">
          <td *ngIf="data.header[i].type=='text'">{{cel.content}}</td>
          <td *ngIf="data.header[i].type=='date'">{{cel.content}}</td>
          <td *ngIf="data.header[i].type=='bold'"><b>{{cel.content}}</b></td>
          <td *ngIf="data.header[i].type=='image'"><img [src]="cel?.src" [width]="cel?.width" [height]="cel?.height" />
          </td>
          <td *ngIf="data.header[i].type=='badge'"><span [class]="cel.style">{{cel.content}}</span></td>
          <td *ngIf="data.header[i].type=='list'">
            <ul>
              <li *ngFor="let li of cel.content">{{li}}</li>
            </ul>
          </td>
        </ng-container>
      </ng-container>
    </tr>
  </tbody>
  <tfoot>
    <tr *ngIf="data.footer">
      <td *ngFor="let footer of data?.footer">{{footer}}</td>
    </tr>
    <tr>
      <td [attr.colspan]="data.header.length" class="pagination" [ngClass]="{'disabled': pagination.total==0}">
        <i class="icon icon-arrow-left"
          (click)="pagination.current = pagination.current == 1 ? pagination.total : pagination.current - 1"></i>
        <input type="text" class="mx-1" [(ngModel)]="pagination.current"
          (input)="pagination.current = pagination.current > pagination.total ? pagination.total : pagination.current < 1 ? 1 : pagination.current" />
        / {{pagination.total}}
        <i class="icon icon-arrow-right"
          (click)="pagination.current = pagination.current == pagination.total ? 1 : pagination.current + 1"></i>
      </td>
    </tr>
  </tfoot>
</table>