<table *ngIf="data">
  <thead>
    <tr>
      <th *ngFor="let header of data?.header; let i=index">{{header?.name}}<i class="icon icon-arrow-bottom"
          [ngClass]="{'icon-active': lastOrderStatus.index==i && lastOrderStatus.type =='DESC'}"
          (click)="order(i, 'DESC')"></i><i class="icon icon-arrow-top"
          [ngClass]="{'icon-active': lastOrderStatus.index==i && lastOrderStatus.type =='ASC'}"
          (click)="order(i, 'ASC')"></i></th>
    </tr>
    <tr>
      <td *ngFor="let header of data?.header; let i=index">
        <input *ngIf="header?.filter" type="text" [(ngModel)]="filterTable[i]" />
      </td>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of data?.items | slice: (pagination.current-1)*pagination.elementsPerPage : pagination.current*pagination.elementsPerPage">
      <ng-container *ngIf="filterAccepted(item)">
        <ng-container *ngFor="let cel of item">
          <td *ngIf="cel.type=='text'">{{cel.content}}</td>
          <td *ngIf="cel.type=='date'">{{cel.content}}</td>
          <td *ngIf="cel.type=='bold'"><b>{{cel.content}}</b></td>
          <td *ngIf="cel.type=='image'"><img [src]="cel?.content?.src" [width]="cel?.content?.width"
              [height]="cel?.content?.height" /></td>
          <td *ngIf="cel.type=='badge'"><span [class]="cel.style">{{cel.content}}</span></td>
          <td *ngIf="cel.type=='list'">
            <ul>
              <li *ngFor="let li of cel.content">{{li}}</li>
            </ul>
          </td>
        </ng-container>
      </ng-container>
    </tr>
  </tbody>
  <tfoot>
    <tr *ngIf="data.footer">
      <td *ngFor="let footer of data?.footer">{{footer}}</td>
    </tr>
    <tr>
      <td [attr.colspan]="data.header.length" class="pagination">
        <i class="icon icon-arrow-left"
          (click)="pagination.current = pagination.current == 1 ? pagination.total : pagination.current - 1"></i>
        <input type="text" class="mx-1" [(ngModel)]="pagination.current"
          (input)="pagination.current = pagination.current > pagination.total ? pagination.total : pagination.current < 1 ? 1 : pagination.current" />
        / {{pagination.total}}
        <i class="icon icon-arrow-right"
          (click)="pagination.current = pagination.current == pagination.total ? 1 : pagination.current + 1"></i>
      </td>
    </tr>
  </tfoot>
</table>