<table *ngIf="data">
  <thead>
    <tr>
      <th *ngFor="let header of data?.header">{{header.name}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data?.items">
      <ng-container *ngFor="let cel of item">
        <td *ngIf="cel.type=='text'">{{cel.content}}</td>
        <td *ngIf="cel.type=='bold'"><b>{{cel.content}}</b></td>
        <td *ngIf="cel.type=='image'"><img [src]="cel?.content?.src" [width]="cel?.content?.width"
            [height]="cel?.content?.height" /></td>
        <td *ngIf="cel.type=='badge'"><span [class]="cel.style">{{cel.content}}</span></td>
      </ng-container>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td *ngFor="let footer of data?.footer">{{footer}}</td>
    </tr>
  </tfoot>
</table>