#k-table-container{
    table{
        border-collapse:collapse;
        border-spacing: 0; 
        a{
            text-decoration: none;
        }
        thead, tbody, tfoot{
            tr{            
                th, td{
                    text-align: center;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                }  
            }
        }
        thead, tfoot{
            background-color: #f1f1f1;
        }
        thead{             
            tr{   
                th, td{
                    i{
                        display: inline-block;
                        background: #AAAAAA; 
                        cursor: pointer; 
                    }
                }                
                input[type=text], select{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    border: 1px solid #DDDDDD;
                    border-bottom: 2px solid #000000;
                }
                input[type=text]:focus, select:focus{
                    background-color: #FFFFFF;
                    border-bottom-color: #2ECC40;
                }
            } 
            tr:first-child{
                td{
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    padding-top: 0.5rem; 
                    div:first-child{
                        float: left;
                        i{
                            width: 14px;
                            height: 14px;                            
                            margin-left: 0.3rem;
                            margin-right: 0.3rem;
                        }  
                        i:first-child{
                            mask: url("/assets/icons/plus.svg");
                            mask-size: 100% 100%;
                        }    
                        i:nth-child(2){
                            mask: url("/assets/icons/filter.svg");
                            mask-size: 100% 100%;
                        } 
                    }
                    div:last-child{
                        float: right;
                        input[type=text]{
                            width: 20px;
                            max-width: 60px;
                        }
                        i{
                            width: 10px;
                            height: 10px;
                        }  
                        i:nth-last-child(3){
                            mask: url("/assets/icons/arrow.svg");
                            transform: rotate(90deg);
                            mask-size: 100% 100%;
                        }    
                        i:last-child{
                            mask: url("/assets/icons/arrow.svg");
                            transform: rotate(-90deg);
                            mask-size: 100% 100%;
                        } 
                    }                     
                    .k-disabled {
                        pointer-events: none;
                        opacity: 0.4;
                    }
                }
            } 
            tr:nth-child(2){  
                th{
                    div{
                        position: relative;
                        height: 20px; 
                        width: 20px; 
                        float: right; 
                        margin-left: 1rem;
                        i{
                            position: absolute;
                            right: 2px;                            
                            width: 8px;
                            height: 8px;  
                        }  
                        i:first-child{
                            mask: url("/assets/icons/sort.svg");
                            bottom: 2px;
                            mask-size: 100% 100%;
                        }    
                        i:nth-child(2){
                            mask: url("/assets/icons/sort.svg");
                            transform: scaleY(-1);
                            top: 2px;
                            mask-size: 100% 100%;
                        }                                  
                        .k-icon-active {
                            background: #000000 !important;
                        } 
                    }
                }
            }
            tr:last-child{
                td{
                    padding-bottom: 0.5rem;
                    max-width: 0px;
                }
                input[type=text]{                
                    width: 100%; 
                    box-sizing: border-box;
                    -webkit-box-sizing:border-box;
                    -moz-box-sizing: border-box;
                }
            } 
        }
        tfoot{
            tr:last-child{
                th:first-child{
                    border-bottom-left-radius: 5px;
                }
                th:last-child{
                    border-bottom-right-radius: 5px;
                }
                th{
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                }
            }
        }
        tbody{
            tr{
                border-top: 1px solid #DDDDDD;
                border-bottom: 1px solid #DDDDDD;
                vertical-align: middle;
                padding: 0.2rem;
                td{
                    padding: 0.5rem;
                }
                td:last-child{
                    button{
                        outline: none;
                        border: none;
                        padding: 0.6rem;
                        padding-top: 0.2rem;
                        padding-bottom: 0.2rem;
                        border-radius: 7px;
                        cursor: pointer;
                    }                     
                    div{
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                td{        
                    span{
                        padding: 0.5rem;
                        padding-top: 0.2rem;
                        padding-bottom: 0.2rem;
                        border-radius: 7px;
                        background-color: #AAAAAA;
                    }
                    ul{
                        padding-left: 20px;
                    } 
                }
            }
        }        
    }

    .k-bg-navy{
        background-color: #001f3f;
        color: #FFFFFF;
    }

    .k-bg-blue{
        background-color: #0074D9;
        color: #FFFFFF;
    }

    .k-bg-aqua{
        background-color: #7FDBFF;
        color: #000000;
    }

    .k-bg-teal{
        background-color: #39CCCC;
        color: #000000;
    }

    .k-bg-purple{
        background-color: #B10DC9;
        color: #FFFFFF;
    }

    .k-bg-fuchsia{
        background-color: #F012BE;
        color: #FFFFFF;
    }

    .k-bg-maroon{
        background-color: #85144b;
        color: #FFFFFF;
    }

    .k-bg-danger{
        background-color: #FF4136;
        color: #FFFFFF;
    }

    .k-bg-warning{
        background-color: #FF851B;
        color: #000000;
    }

    .k-bg-yellow{
        background-color: #FFDC00;
        color: #000000;
    }

    .k-bg-olive{
        background-color: #3D9970;
        color: #FFFFFF;
    }

    .k-bg-success{
        background-color: #2ECC40;
        color: #FFFFFF;
    }

    .k-bg-lime{
        background-color: #01FF70;
        color: #000000;
    }

    .k-bg-dark{
        background-color: #111111;
        color: #FFFFFF;
    }

    .k-bg-gray{
        background-color: #AAAAAA;
        color: #000000;
    }

    .k-bg-silver{
        background-color: #DDDDDD;
        color: #000000;
    }

    .k-bg-light{
        background-color: #FFFFFF;
        color: #000000;
    }

    .k-color-navy{
        color: #001f3f;
    }

    .k-color-blue{
        color: #0074D9;
    }

    .k-color-aqua{
        color: #7FDBFF;
    }

    .k-color-teal{
        color: #39CCCC;
    }

    .k-color-purple{
        color: #B10DC9;
    }

    .k-color-fuchsia{
        color: #F012BE;
    }

    .k-color-maroon{
        color: #85144b;
    }

    .k-color-danger{
        color: #FF4136;
    }

    .k-color-warning{
        color: #FF851B;
    }

    .k-color-yellow{
        color: #FFDC00;
    }

    .k-color-olive{
        color: #3D9970;
    }

    .k-color-success{
        color: #2ECC40;
    }

    .k-color-lime{
        color: #01FF70;
    }

    .k-color-dark{
        color: #111111;
    }

    .k-color-gray{
        color: #AAAAAA;
    }

    .k-color-silver{
        color: #DDDDDD;
    }

    .k-color-light{
        color: #FFFFFF;
    }

    .k-border-navy{
        border: solid 1px #001f3f;
    }

    .k-border-blue{
        border: solid 1px #0074D9;
    }

    .k-border-aqua{
        border: solid 1px #7FDBFF;
    }

    .k-border-teal{
        border: solid 1px #39CCCC;
    }

    .k-border-purple{
        border: solid 1px #B10DC9;
    }

    .k-border-fuchsia{
        border: solid 1px #F012BE;
    }

    .k-border-maroon{
        border: solid 1px #85144b;
    }

    .k-border-danger{
        border: solid 1px #FF4136;
    }

    .k-border-warning{
        border: solid 1px #FF851B;
    }

    .k-border-yellow{
        border: solid 1px #FFDC00;
    }

    .k-border-olive{
        border: solid 1px #3D9970;
    }

    .k-border-success{
        border: solid 1px #2ECC40;
    }

    .k-border-lime{
        border: solid 1px #01FF70;
    }

    .k-border-dark{
        border: solid 1px #111111;
    }

    .k-border-gray{
        border: solid 1px #AAAAAA;
    }

    .k-border-silver{
        border: solid 1px #DDDDDD;
    }

    .k-border-light{
        border: solid 1px #FFFFFF;
    }
}