<div id="k-table-container" *ngIf="data && filterTable && startedItems && orderStatus && pagination">
    <table>
        <thead>
            <tr>
                <td [attr.colspan]="data.header.length">
                    <div>
                        <i title="Ajouter" (click)="emitEvent({event: 'add'})"></i>
                        <i title="Filtrer" (click)="isFilter=!isFilter"></i>
                    </div>
                    <div [ngClass]="{'k-disabled': pagination.total==0}">
                        <select (change)="changeNumberOfElementsPerPage($event)">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="-1">All</option>
                        </select>
                        &nbsp;&nbsp;
                        <i
                            (click)="pagination.current = pagination.current == 1 ? pagination.total : pagination.current - 1"></i>
                        <input type="text" [(ngModel)]="pagination.current"
                            (input)="pagination.current = pagination.current > pagination.total ? pagination.total : pagination.current < 1 ? 1 : pagination.current" />
                        / {{pagination.total}}
                        <i
                            (click)="pagination.current = pagination.current == pagination.total ? 1 : pagination.current + 1"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <th *ngFor="let header of data?.header; let i=index">{{header?.name}}
                    <div *ngIf="header?.order">
                        <i [ngClass]="{'k-icon-active': orderStatus.index==i && orderStatus.type =='DESC'}"
                            (click)="order(i, 'DESC')"></i>
                        <i [ngClass]="{'k-icon-active': orderStatus.index==i && orderStatus.type =='ASC'}"
                            (click)="order(i, 'ASC')"></i>
                    </div>
                </th>
            </tr>
            <tr *ngIf="isFilter">
                <td *ngFor="let header of data?.header; let i=index">
                    <input *ngIf="header?.filter" type="text" placeholder="{{header?.name}}"
                        [(ngModel)]="filterTable[i]" name="{{header?.name}}" (input)="filter()" autocomplete="off" />
                </td>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let item of data?.items | slice: (pagination.current-1)*pagination.elementsPerPage : pagination.elementsPerPage != -1 ? pagination.current*pagination.elementsPerPage : data.items.length; let i = index">
                <ng-container *ngFor="let field of item?.data; let j=index">
                    <ng-container
                        *ngIf="!field.condition || evalCondition(field.condition, j); else elseConditionvalue">
                        <td *ngIf="data.header[j].type=='text' || data.header[j].type=='number'">{{field?.value}}</td>
                        <td *ngIf="data.header[j].type=='email'"><a href="mailto:{{field?.value}}">{{field?.value}}</a>
                        </td>
                        <td *ngIf="data.header[j].type=='link'"><a href="https://{{field?.value}}"
                                target="_blank">{{field?.value}}</a>
                        </td>
                        <td *ngIf="data.header[j].type=='date'">{{field?.value}}</td>
                        <td *ngIf="data.header[j].type=='bold'"><b>{{field?.value}}</b></td>
                        <td *ngIf="data.header[j].type=='image'"><img [src]="field?.src" [width]="field?.width"
                                [height]="field?.height" />
                        </td>
                        <td *ngIf="data.header[j].type=='badge'"><span [class]="field.style">{{field.value}}</span></td>
                        <td *ngIf="data.header[j].type=='list'">
                            <ul>
                                <li *ngFor="let li of field.value">{{li}}</li>
                            </ul>
                        </td>
                        <td *ngIf="data.header[j].type=='mini-buttons'">
                            <div>
                                <a *ngFor="let button of field?.value" (click)="emitEvent({
                                                            event: button.event,
                                                            id: item.id
                                                          })"><i [class]="button?.style"
                                        [title]="button?.title"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                </a>
                            </div>
                        </td>
                        <td *ngIf="data.header[j].type=='buttons'">
                            <div>
                                <button *ngFor="let button of field?.value" [class]="button?.style" (click)="emitEvent({
                                                        event: button.event,
                                                        id: item.id
                                                      })">{{button?.title}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </td>
                    </ng-container>
                    <ng-template #elseConditionvalue>
                        <td></td>
                    </ng-template>
                </ng-container>
            </tr>
        </tbody>
        <tfoot>
            <tr *ngIf="data.footer">
                <th *ngFor="let footer of data?.footer">{{footer}}</th>
            </tr>
        </tfoot>
    </table>
</div>