<table *ngIf="data">
    <thead>
        <tr>
            <th *ngFor="let header of data?.header; let i=index">{{header?.name}}<i
                    class="icon icon-arrow-bottom order-asc"
                    [ngClass]="{'icon-active': orderStatus.index==i && orderStatus.type =='DESC'}"
                    (click)="order(i, 'DESC')"></i><i class="icon icon-arrow-top order-desc"
                    [ngClass]="{'icon-active': orderStatus.index==i && orderStatus.type =='ASC'}"
                    (click)="order(i, 'ASC')"></i>
            </th>
        </tr>
        <tr>
            <td *ngFor="let header of data?.header; let i=index">
                <input *ngIf="header?.filter" type="text" [(ngModel)]="filterTable[i]" (input)="filter()" />
            </td>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let item of data?.items | slice: (pagination.current-1)*pagination.elementsPerPage : pagination.current*pagination.elementsPerPage; let i = index">
            <ng-container *ngFor="let field of item?.data; let j=index">
                <ng-container *ngIf="!field.condition || evalCondition(field.condition, j); else elseConditionvalue">
                    <td *ngIf="data.header[j].type=='text' || data.header[i].type=='number'">{{field?.value}}</td>
                    <td *ngIf="data.header[j].type=='date'">{{field?.value}}</td>
                    <td *ngIf="data.header[j].type=='bold'"><b>{{field?.value}}</b></td>
                    <td *ngIf="data.header[j].type=='image'"><img [src]="field?.src" [width]="field?.width"
                            [height]="field?.height" />
                    </td>
                    <td *ngIf="data.header[j].type=='badge'"><span [class]="field.style">{{field.value}}</span></td>
                    <td *ngIf="data.header[j].type=='list'">
                        <ul>
                            <li *ngFor="let li of field.value">{{li}}</li>
                        </ul>
                    </td>
                    <td *ngIf="data.header[j].type=='mini-buttons'">
                        <a *ngFor="let button of field?.value" (click)="emitEvent({
                        event: button.event,
                        id: item.id
                      })"><i [class]="button?.style" [title]="button?.title"></i></a>
                    </td>
                    <td *ngIf="data.header[j].type=='buttons'">
                        <button *ngFor="let button of field?.value" [class]="button?.style" (click)="emitEvent({
                        event: button.event,
                        id: item.id
                      })">{{button?.title}}</button>
                    </td>
                </ng-container>
                <ng-template #elseConditionvalue>
                    <td></td>
                </ng-template>
            </ng-container>
        </tr>
    </tbody>
    <tfoot>
        <tr *ngIf="data.footer">
            <th *ngFor="let footer of data?.footer">{{footer}}</th>
        </tr>
        <tr>
            <td [attr.colspan]="data.header.length" class="pagination" [ngClass]="{'disabled': pagination.total==0}">
                <i class="icon icon-arrow-left"
                    (click)="pagination.current = pagination.current == 1 ? pagination.total : pagination.current - 1"></i>
                <input type="text" class="mx-1" [(ngModel)]="pagination.current"
                    (input)="pagination.current = pagination.current > pagination.total ? pagination.total : pagination.current < 1 ? 1 : pagination.current" />
                / {{pagination.total}}
                <i class="icon icon-arrow-right"
                    (click)="pagination.current = pagination.current == pagination.total ? 1 : pagination.current + 1"></i>
            </td>
        </tr>
    </tfoot>
</table>